/* Reset some default styles */
html, body, div, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, cite, code, img, small, strong, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #008080 20%, #006400 50%, #000080 80%); /* Gradient of teal, green, and blue */
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
  color: #008080; /* Teal */
}

a {
  color: #000080; /* Blue */
  text-decoration: none;
}

a:hover {
  color: #006400; /* Dark Green */
}

.container {
  width: 80%;
  margin: 0 auto;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000000;
  background: linear-gradient(135deg, #008080 20%, #006400 50%, #000080 80%); /* Gradient of teal, green, and blue */
  text-decoration: none;
  padding: 16px 5%;
  z-index: 999;
}

#logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 22px;
  font-weight: 700;
  line-height: 0;
  margin: 0;
  color: #ebe0e0;
}

#logo span {
  color: #006400; /* Dark Green */
}

@media (max-width: 640px) {
  #logo span {
    display: none;
  }
}

#logo img {
  height: 42px;
}

#nav a {
  text-decoration: none;
}

#nav__links {
  display: flex;
  align-items: center;
  column-gap: 2em;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  transition: 1s;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-in-out;
  padding-bottom: 1px;
}

.nav__link:hover {
  color: #006400; /* Dark Green */
  text-decoration: none;
  border-color: #008080; /* Teal */
}

#create__room__btn {
  display: block;
  background-color: #008080; /* Teal */
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color 0.3s;
}

#create__room__btn:hover {
  background-color: #006400; /* Dark Green */
}

.nav--list {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#members__button,
#chat__button {
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
}

#members__button:hover svg > path,
#chat__button:hover svg,
.nav__link:hover svg {
  fill: #008080; /* Teal */
}

.nav__link svg {
  width: 0;
  height: 0;
}

@media (max-width: 640px) {
  #members__button {
    display: block;
  }

  .nav__link svg {
    width: 1.5rem;
    height: 1.5rem;
  }
  .nav__link,
  #create__room__btn {
    font-size: 0;
    border: none;
  }

  #create__room__btn {
    padding: 0;
    background-color: transparent;
    border-radius: 50%;
  }

  #create__room__btn:hover {
    background-color: transparent;
  }
}
